# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Misc
.DS_Store
.fleet
.idea

# Local
*.local

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Supabase
supabase/.branches
supabase/.temp
