# fly.toml app configuration file generated for indiestream-transcoder on 2026-01-20T14:16:10+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'indiestream-transcoder'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'

[processes]
  worker = 'npx tsx worker.ts'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
